/* Javier "KuaKer" Suárez Guzmán */


/* body {
  background-color: #87CEFA 
  color: #4488ee;
} */

.center {
  text-align: center;
}

.noche {
background-color: #091133;
color: #a3b3bb;
}

.kuaker-colors-b-side {
    background-color: #FFF9F2;
    color: #4488ee;
}

.kuaker-modo-serio {
    background-color: #ececec;
    color: #3b3b3b;
}

